---
interface Props {
  pageTitle?: string;
}

const navigationItems = [
  { name: 'Home', url: '/' },
  { name: 'Blog', url: '/blog/' },
];

const socialIcons = [
  {
    name: 'GitHub',
    url: 'https://github.com/eliancodes/brutal',
    icon: 'i-uil-github',
  },
  {
    name: 'Twitter',
    url: 'https://www.twitter.com/eliancodes',
    icon: 'i-uil-twitter',
  },
  { name: 'RSS', url: '/feed.xml', icon: 'i-uil-rss' },
];

const { pageTitle } = Astro.props;
---

<header class='border-b-4 border-black flex justify-between p-6 items-center'>
  {pageTitle && <h1 class='hidden'>{pageTitle}</h1>}
  <a href="/" title="Back to Home" class="flex items-start gap-3">
  <!-- Text block -->
  <div class="leading-tight">
    <!-- Price line with horizontal dots -->
    <div class="flex items-center gap-2">
      <p class="righteous text-black md:text-5xl text-3xl m-0">
        Price <div class="flex gap-1">
        <span class="w-2 h-2 bg-black rounded-full"></span>
        <span class="w-2 h-2 bg-black rounded-full"></span>
        <span class="w-2 h-2 bg-black rounded-full"></span>
      </div>
      </p>
    </div>

    <p class="righteous text-black md:text-5xl text-3xl m-0">
      Inflation
    </p>
    <p class="righteous text-gray-500 md:text-5xl text-3xl m-0">
      Report <span class="w-3 h-3 bg-red rounded-full"></span>
    </p>
  </div>
</a>
  <nav class='hidden md:inline-block'>
    <h2 class='hidden'>Navigation</h2>
    <ul class='flex gap-8 poppins'>
      {
        navigationItems.map((item) => (
          <li>
            <a
              class='text-lg font-medium hover:text-green hover:underline transition-all duration-150 ease-in-out'
              href={item.url}
              title={`Go to ${item.name}`}
            >
              {item.name}
            </a>
          </li>
        ))
      }
      {
        socialIcons.map((item) => (
          <li>
            <a
              href={item.url}
              class='hover:text-green hover:underline transition-all duration-150 ease-in-out'
              target='_blank'
              title={`'See @ElianCodes on ${item.name}`}
            >
              <div class:list={[item.icon, 'w-6 h-6']} />
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
  <nav class='md:hidden flex'>
    <h2 class='hidden'>Mobile Navigation</h2>
    <ul>
      <li><a href='/blog/'>Blog</a></li>
    </ul>
  </nav>
</header>
